{%- raw %}
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}
{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin_style.css' %}" />
{% endblock extrastyle %}

{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}" title="{{cookiecutter.domain}}">
{%- endraw %}
      {{ cookiecutter.project_title }} - {% raw %}{% trans 'Administration' %}{% endraw %}
{%- raw %}
    </a>
  </h1>
{% endblock branding %}
{% endraw %}
